<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>${project.name}</display-name>
	<description>${project.description}</description>
	<filter>
		<filter-name>jersey</filter-name>
		<filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.n52.wmsqadapter.application</param-value>
		</init-param>
		<init-param>
			<description>Base path for jersey jsp templates</description>
			<param-name>com.sun.jersey.config.property.JSPTemplatesBasePath</param-name>
			<param-value>/jsp/templates</param-value>
		</init-param>
		<init-param>
			<description>Path for static resources, i.e. paths not affected by Jersey url mapping</description>
			<param-name>com.sun.jersey.config.property.WebPageContentRegex</param-name>
			<param-value>/jsp/.*</param-value>
		</init-param>

		<init-param>
			<description>Explicit media type negotiation</description>
			<param-name>com.sun.jersey.config.property.MediaTypeMappings</param-name>
			<param-value>xml : application/xml, json : application/json, html: text/html</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>jersey</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>jsp/index.jsp</welcome-file>
	</welcome-file-list>

</web-app>